html, body {
    height: 100%;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#search {
    background-image: url("/assets/images/landing/1.jpg");
    flex-grow: 2;
}

#search__form {
    padding-right: 1em;
}

#searchText {
    margin-right: 1em;
}

.featured__badge {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    padding: 0.3em;
    font-weight: bold;
}

.featured__badge i {
    vertical-align:middle;
}

.progress {
    width: 90%;
    margin: 3em auto;
}

