html, body {
    background-color: #ffecb3;
    height: 100%;
}

#app, .app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#search {
    background-image: url("/images/static/landingbg.jpg");
    height: 100%;
}

#search__form {
    padding-right: 1em;
}

#search__text {
    margin-right: 1em;
    font-size: 3.2em;
}

.featured__badge {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    padding: 0.3em;
    font-weight: bold;
}

.featured__badge i {
    vertical-align:middle;
}

.progress {
    width: 90%;
    margin: 3em auto;
}

#appNoResult {
    height: 100%;
}

.translucent {
    background-color: rgba(51, 51, 51, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.translucent--half {
    background-color: rgba(51, 51, 51, 0.5);
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.translucent--quarter {
    background-color: rgba(51, 51, 51, 0.5);
    width: 50%;
    height: 30%;
    position: fixed;
    top: 70%;
    left: 50%;
    z-index: 100;
}

.translucent--step5--1 {
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    width: 15%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.translucent--step5--2 {
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    width: 85%;
    height: 15%;
    top: 0;
    left: 15%;
    z-index: 100;
}

.translucent--step5--3 {
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    width: 85%;
    height: 73%;
    top: 27%;
    left: 15%;
    z-index: 100;
}

.translucent--step5--4 {
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    width: 65%;
    height: 12%;
    top: 15%;
    left: 35%;
    z-index: 100;
}

.translucent--step6--1 {
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    width: 14%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.translucent--step6--2 {
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    width: 86%;
    height: 24%;
    top: 0;
    left: 14%;
    z-index: 100;
}

.translucent--step6--3 {
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    width: 86%;
    height: 70%;
    top: 32%;
    left: 14%;
    z-index: 100;
}

.translucent--step6--4 {
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    width: 15%;
    height: 8%;
    top: 24%;
    left: 85%;
    z-index: 100;
}

.translucent--step9--1 {
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    width: 15%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.translucent--step9--2 {
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    width: 85%;
    height: 40%;
    top: 0;
    left: 15%;
    z-index: 100;
}

.translucent--step9--3 {
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    width: 85%;
    height: 73%;
    top: 50%;
    left: 15%;
    z-index: 100;
}

.translucent--step9--4 {
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    width: 63%;
    height: 10.1%;
    top: 40%;
    left: 84%;
    z-index: 100;
}

.hidden {
    display: none;
}

.tutorial-panel {
    background-color: #323232;
    color: white;
    font-size: 1.5rem;
    text-align: justify;
    padding: 0.5em;
    position: absolute;
}

.step2 {
    top: 38%;
    left: 10%;
    width: 80%;
}
/* Also usedfor step7 */
.step3 {
    top: 7%;
    left: 5%;
    width: 50%
}

.step5 {
    width: 50%;
    left: -15%;
}

.step6 {
    width: 83%;
}

.step9 {
    width: 78%;
}

#stacked {
    margin-top: 2.5em;
    padding-right: 1em;
}

#statsPanel h4 {
    margin-top: 0;
    padding-top: 0;
}

#statsPanel {
    margin-top: 2.5em;
}

.highlight {
    position: relative;
    z-index: 110;
}

/******* SETTINGS *******/

.settings {
    height: 100%;
}

.settings__header {
    margin: 0.2em 0.2em
}

/******* MODAL *******/
.modal--small {
    width: 40%;
}

.modal__header {
    padding: 0.6em;
    text-align: center;
    /*color: white;*/
}

.modal__footer {
    display: flex;
    justify-content: center;
}

.modal__footer > * {
    margin-left: 1em !important;
    margin-right: 1em !important;
    width: 10em;
}