html, body {
    background-color: #ffecb3;
    height: 100%;
}

#app, .app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#search {
    background-image: url("/images/static/landingbg.jpg");
    height: 100%;
}

#search__form {
    padding-right: 1em;
}

#searchText {
    margin-right: 1em;
}

.featured__badge {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    padding: 0.3em;
    font-weight: bold;
}

.featured__badge i {
    vertical-align:middle;
}

.progress {
    width: 90%;
    margin: 3em auto;
}

#appNoResult {
    height: 100%;
}

.translucent-bg {
    background-color: #333333;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.highlight {
    position: relative;
    z-index: 110;
}

/******* SETTINGS *******/

.settings {
    height: 100%;
}

.settings__header {
    margin: 0.2em 0.2em
}

/******* MODAL *******/
.modal--small {
    width: 40%;
}

.modal__header {
    padding: 0.6em;
    text-align: center;
    /*color: white;*/
}

.modal__footer {
    display: flex;
    justify-content: center;
}

.modal__footer > * {
    margin-left: 1em !important;
    margin-right: 1em !important;
    width: 10em;
}